@font-face {
  font-family: "Sogtric";
  src: url("SogtricRegular.woff2") format("woff2"), url("SogtricRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Goldman Sans";
  src: url("GoldmanSans_W_Rg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
