:root {
  --sl-color-bg: #080808;
  --purple-hsl: 255, 60%, 60%;
  --overlay-blurple: hsla(var(--purple-hsl), 0.2);
}

h1 {
  font-family: "Sogtric";
  font-weight: normal;
  font-style: normal;
  line-height: 1em;
}
body {
  font-family: "Goldman Sans";
  background: linear-gradient(215deg, var(--overlay-blurple), transparent 40%),
    radial-gradient(var(--overlay-blurple), transparent 40%) no-repeat -60vw -40vh / 105vw 200vh,
    radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50% calc(100% + 20rem) / 60rem 30rem;
}
.hero {
  padding-block: 0;
}

.hero-html {
  width: min(70%, 30rem) !important;
}

@media (min-width: 50rem) {
  .hero-html {
    width: min(115%, 30rem) !important;
  }
}

.hero-img {
  width: 100%;
  aspect-ratio: 1 / 1.3611111;
  background-image: url("/cover.png");
  background-size: cover;
  margin-right: calc(1rem - 3px);
}

.hero .action {
  padding: 1rem 1.25rem;
}

.hero .action.primary {
  background: #fcc607;
  border-radius: 5px;
}

.hero .action.minimal {
  border-radius: 5px;
  border: 1px solid var(--sl-color-gray-5);
}

.site-title {
  font-family: "Sogtric";
  color: #df934e;
  background: inherit;
}
.title {
  font-family: "Sogtric";
  font-weight: normal;
  font-style: normal;
}
.tagline {
  line-height: 1.4em;
}
.bookpages {
  margin-top: -10%;
}

.card-grid {
  grid-auto-rows: 35px;
}

@media (max-width: 50rem) {
  .stagger {
    display: none;
  }
}

.card img {
  max-width: 108%;
  margin-left: -4%;
}

.card .title::after {
  content: "\00a0 ";
}

.input-field {
  width: calc(100% - 65px);
}
.form-errors {
  min-height: 25px;
  color: #cc7075;
}
#submit {
  position: relative;
}
#submit:disabled {
  color: transparent;
}
#submit:disabled::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

main:before {
  display: block;
  content: "";
  position: fixed;
  pointer-events: none;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 0.9;
  visibility: visible;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
.hero h1 {
  animation: glitch 3s linear infinite;
}
.hero h1:before {
  max-width: 500px;
  content: "Perfect World";
  position: absolute;
  display: block;
  animation: glitchTop 2.5s linear infinite;
  clip-path: polygon(0 20%, 100% 20%, 100% 70%, 0 70%);
}

@keyframes glitch {
  50%,
  100% {
    transform: translate(0px, 0px);
  }
  2%,
  32% {
    transform: translate(1px, 0) skew(0deg);
  }
  4%,
  30% {
    transform: translate(-1px, 0) skew(0deg);
  }
  31% {
    transform: translate(0, 0) skew(5deg);
  }
}

@keyframes glitchTop {
  50%,
  100% {
    transform: translate(0px, 0px);
  }
  12%,
  34% {
    transform: translate(2px, 0px);
  }
  14%,
  30% {
    transform: translate(-2px, 0px);
  }
  31% {
    transform: translate(1px, -1px) skew(-12deg);
  }
}

@media (min-width: 800px) {
  .content {
    margin-top: -1.5rem;
  }
}

site-search {
  display: none;
}
